.footer{
    margin-top: 20px;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 15vh;
    background: rgb(27, 25, 25);
    color: white;
    width: 100%;
    padding: 0;

    @media screen and (max-width:750px) {
        justify-content: space-between; 
        padding: 0px 20px;
    }
    @media screen and (max-width:680px) {
       justify-content: center;
       padding: 10px !important;
    }

    span{
        font-size: 1rem;

        @media screen and (max-width:680px) {
            font-size: 1rem;
        }
        @media screen and (max-width:500px) {
            line-height: 1.7;
        }
    }
    .media{
        margin: 0px 10px;
        
        @media screen and (max-width:680px) {
            margin: 0;
            text-align: center;
        }
        
        svg{
            font-size: 1.2rem;
            margin-right: 10px;

            @media screen and (max-width:680px) {
               font-size: 1.7rem;
            }
        }
    }
}